/Library
/Logs
/Temp
/UserSettings
/Build
*.csproj
*.sln
*.meta
/Packages/packages-lock.json
/Assets/Packages
/Assets/SceneDependencyCache
/Assets/Thirdparty
/Assets/Utils/Editor
/Assets/TextMesh Pro
/Assets/Samples
