.panel {
    background-color: rgb(0, 0, 0);
    min-width: 150px;
    border-color: #26233a;
    border-width: 1px;
}

Label {
    color: #e0def4;
}

Label.error {
    color: #eb6f92;
}

TextField > #unity-text-input {
    background-color: #000000;
    border-color: #26233a;
    color: #e0def4;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    --unity-cursor-color: #e0def4;
    border-width: 1px;
}

TextField > #unity-text-input:enabled:hover,
TextField > #unity-text-input:enabled:focus,
TextField > #unity-text-input:enabled:active {
    border-color: #e0def4;
}

Button {
    background-color: #000000;
    border-width: 1px;
    border-color: #26233a;
    color: #e0def4;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
}

Button:enabled:hover,
Button:enabled:focus {
    background-color: #000000;
    border-color: #e0def4;
}

Button:enabled:active {
    background-color: #e0def4;
    border-color: #e0def4;
    color: #191724;
}

#root {
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition-property: all, opacity;
    transition-duration: 0s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#root.visible {
    opacity: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

ScrollView.menulist #unity-content-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

TextField > Label {
    min-width: auto;
    min-height: auto;
}

.unity-scroller--vertical {
    border-left-width: 0;
}

.unity-scroller--horizontal {
    border-left-width: 0;
}

.unity-scroller--vertical {
    width: 10px;
}

.unity-scroller--horizontal {
    height: 10px;
}

.unity-scroller--vertical > #unity-low-button,
.unity-scroller--horizontal > #unity-low-button,
.unity-scroller--horizontal > #unity-high-button,
.unity-scroller--vertical > #unity-high-button {
    width: 8px;
    height: 8px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(48, 48, 48);
}

.unity-scroller--vertical > #unity-low-button:hover,
.unity-scroller--horizontal > #unity-low-button:hover,
.unity-scroller--horizontal > #unity-high-button:hover,
.unity-scroller--vertical > #unity-high-button:hover,
.unity-scroller--vertical > #unity-low-button:focus,
.unity-scroller--horizontal > #unity-low-button:focus,
.unity-scroller--horizontal > #unity-high-button:focus,
.unity-scroller--vertical > #unity-high-button:focus {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.unity-scroller--vertical > #unity-low-button:active,
.unity-scroller--horizontal > #unity-low-button:active,
.unity-scroller--horizontal > #unity-high-button:active,
.unity-scroller--vertical > #unity-high-button:active {
    background-color: rgb(255, 255, 255);
    -unity-background-image-tint-color: rgb(0, 0, 0);
}

.unity-scroller--vertical > #unity-slider,
.unity-scroller--horizontal > #unity-slider {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.unity-scroller--vertical > #unity-slider {
    min-width: auto;
    width: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.unity-scroller--horizontal > #unity-slider {
    min-height: auto;
    height: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.unity-scroller--vertical > #unity-slider > VisualElement,
.unity-scroller--horizontal > #unity-slider > VisualElement {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container,
.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container > #unity-tracker,
.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container > #unity-tracker {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger-border,
.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger-border {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger,
.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger {
    margin-left: 0;
    margin-right: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(48, 48, 48);
    margin-top: 0;
    margin-bottom: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger {
    left: auto;
    width: 8px;
}

.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger {
    top: auto;
    height: 8px;
}

Scroller #unity-tracker {
    background-color: rgb(0, 0, 0);
}

Scroller {
    border-left-width: 1px;
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
}

ProgressBar > #unity-progress-bar > .unity-progress-bar__background {
    background-color: rgb(0, 0, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: #26233a;
    border-right-color: #26233a;
    border-top-color: #26233a;
    border-bottom-color: #26233a;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: auto;
}

ProgressBar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: #6e6a86;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ProgressBar.error > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: #eb6f92;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ProgressBar.warning > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: #f6c177;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ProgressBar.success > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: #31748f;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ProgressBar > #unity-progress-bar {
    max-height: 15px;
    min-height: 15px;
}

ProgressBar .unity-progress-bar__title-container {
    justify-content: flex-start;
}

ProgressBar Label {
    padding: 0px;
    padding-left: 2px;
    font-size: 8px;
    --unity-text-align: left;
}

.unity-tab__header {
    background-color: rgb(0, 0, 0);
    border-bottom-width: 0;
    border-top-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.unity-tab__header:checked {
    background-color: rgb(0, 0, 0);
    border-bottom-width: 0;
    border-top-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, 0.35);
    border-right-color: rgba(0, 0, 0, 0.35);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgba(0, 0, 0, 0.35);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.unity-tab__header-underline {
    display: none;
    bottom: -6px;
    position: relative;
}

.unity-tab-view__header-container {
}

.unity-tab-view .unity-tab {
}

.unity-tab-view__content-container {
    flex-grow: 1;
}

.unity-tab__content-container {
    flex-grow: 1;
}
